{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    PENDAFTARAN
                </div>
                <div class="car-body">
                    {% for pesan in messages %}
                    {% if pesan.tags == 'success' %}
                        <div class="alert alert-success">{{ pesan }}</div>
                    {% else %}
                        <div class="alert alert-danger">{{ pesan }}</div>
                    {% endif %}
                    {% endfor %}
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}

                        {{ form.as_p }}
                        <button class="btn btn-primary">DAFTAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}